<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Compression Portal</title>
</head>
<body>
    <h1>Upload a File for Compression or Decompression</h1>

    <% if (typeof msg !== 'undefined') { %>
        <p style="color: red;"><%= msg %></p>
    <% } %>
    <h2>Compress a file using RLE</h2>
    <form action="/rle-compress" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" required>
        <button type="submit">Compress (RLE)</button>
    </form>

    <hr/>

    <h2>Decompress a RLE compressed file</h2>
    <form action="/rle-decompress" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" required>
        <button type="submit">Decompress(RLE)</button>
    </form>

    <hr/>

    <h2>Compress a file using Huffman algorithm</h2>
    <form action="/huffman-compress" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" required>
        <button type="submit">Compress (Huffman)</button>
    </form>

    <hr/>

    <h2>Decompress a Huffman compressed file</h2>
    <form action="/huffman-decompress" method="POST" enctype="multipart/form-data">
        <input type="file" name="myFile" required>
        <button type="submit">Decompress(Huffman)</button>
    </form>
</body>
</html>
